body {
  transition: background-color 0.3s, color 0.3s;
}

.bg-light {
  background-color: #f8f9fa !important; /* Light background */
  color: #212529 !important; /* Dark text */
}

.bg-dark {
  background-color: #343a40 !important; /* Dark background */
  color: #f8f9fa !important; /* Light text */
}

.card.bg-secondary {
  background-color: #6c757d !important; /* Dark card background */
  color: white !important; /* Light card text */
}

.card.bg-white {
  background-color: white !important; /* Light card background */
  color: black !important; /* Dark card text */
}
